<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShopComment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3958FBF1E6D39610032DAB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3958FD81E6D39610032DAB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3958FE31E6D39620032DAB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
